@use '../base/index' as *;

.rutina {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  gap: 30px;
  align-items: start;
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  }
}

/* Para invertir el orden en las secciones espejo */
.rutina-derecha {
  direction: rtl;

  .contenido,
  .contenido-texto {
    direction: ltr;
  }
}

.contenido img {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.contenido-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  h3 {
    margin: 0;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
  }
}


.titulo-seca {
  background-color: $rosa;
}

.titulo-mixta {
  background-color: $verdeMedio;
}

.titulo-grasa {
  background-color: rgba(165, 176, 226, 0.85);
}

.contenido-texto p {
  margin-bottom: 8px;
}

.contenido-texto ul {
  padding-left: 20px;
}

.contenido-texto li {
  margin-bottom: 6px;
}


@media (max-width: 768px) {
  .rutina {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contenido-texto {
    text-align: left;
    padding: 0 10px;
  }

  .contenido-texto h2 {
    margin: 0 auto;
  }

  .rutina-derecha {
    direction: ltr;
  }
}