@use '../base' as *;

@media (max-width: 767px) {
    .contenedorFooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer h4 {
        margin-right: 0;
    }
}

.contenedorFooter {
    background-color: $rosa;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem;

    footer h4 {
        margin-bottom: 1rem;
        text-align: center;
    }

    .redes {
        margin-right: 2rem;
    }
}

.piePagina {
    background-color: $azul;
    color: $blanco;
    text-align: center;
    padding: 1rem;
}